body{

    background-color: white;
}


#nina-firma {
    width: 627px;
    height: 177px;
    position: absolute;
    top: 388px;
    left: 720px;
}

#linea {
    width: 480px;
    height: 0px;
    position: absolute;
    left: 808px;
    top: 635px;
    border: 1px solid #000000;
    

}

#black-classical-music {
width: 585px;
height: 23px;
left: 800px;
top: 633px;
position: absolute;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #1E1E1E;

}

#te-dire {

width: 652px;
height: 122px;

position:absolute;
left: 78px;
top: 1119px;

font-family: 'FS Ostro Display VF';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.15em;

color: #1E1E1E;
}

#para-mi {

    width: 351px;
    height: 47px;

    position: absolute;
    left: 111px;
    top: 1166px;

font-family: 'FS Ostro Display VF';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.15em;

color: #1E1E1E;

}

#no-tener-miedo {

width: 351px;
height: 47px;

position: absolute;
left: 238px;
top: 1227px;

font-family: 'Roboto', sans-serif;
font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 47px;
/* identical to box height */

letter-spacing: 0.15em;
text-decoration-line: underline;

color: #1E1E1E;


}

.biografia {
width: 100%;

display: flex;
flex-direction: column;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: justify;
letter-spacing: 0.05em;

color: #000000;

}

.biografia-articulo{

    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-right: 2em;

}
 

.parrafo2-biografia{
    margin-left: 2em;

  
}

.segunda-section{

    position:relative;
    margin-top: -250px;
        
}

#el-deber-de-un-artista {

position:absolute;
top: 30%;
text-align: center;
width: 50%;




  font-family: 'Playfair Display';
font-style: italic;
font-weight: 500;
font-size: 55px;
line-height: 73px;
letter-spacing: 0.05em;

color: #000000;
  

}

.swipe{

    display: none;
}

#fondo-imagenes{

    position: relative;
    justify-content: space-around;
    display: flex;
}

.imagenes-carrusel{

    
    position: absolute;
    top: 14%;
   


}

.botones-carrusel{

    position: relative;
   
}

#boton-derecho{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 47%;
    left: -10em;
}

#boton-izquierdo {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 47%;
    right: 122em;
}